<div style="padding: 20px;">
	<h2 style="color: blue"> Angular Application: Customer Portal</h2>
	<nav>
    <a routerLink="customer" class="btn btn-primary active" role="button" routerLinkActive="active">Customers</a>
      <!-- href대신 routerLink를 사용한다. -->
		<a routerLink="add"	class="btn btn-danger active" role="button" routerLinkActive="active">Add</a>
		<a routerLink="findbylastname"	class="btn btn-success active" role="button" routerLinkActive="active">Search</a>
  </nav>
  <!-- 링크 내용이 router-outlet부분에 출력이 된다. -->
  <router-outlet></router-outlet>
</div>